$header-background-color: #1d2126;
$navigation-menu-height: 80px;
$display-inline-block: inline-block;
$base-color: #23b7a4;
$padding-top-h2: 80px;
$padding-bottom-h2: 45px; 
$white-color: #ffffff;
$secondary-body-font-color: #ccd0d7;
$secondary-font: 'quattrocento_sansbold';
$base-border: 2px solid $white-color;
$header-font-color: #292f36;
$body-font-color: #8d8f92;
$body-font-bold: 'open_sansbold';
$counter-width: 50px;
$margin-counter: 20px;
$base-padding: 15px;
$secondary-background-color: #e1e6ea;
$background-base-color: #3a454d;
$width-social-link1: 50px;
$padding-main-block: 100px;
$width-work-image: 360px;
$width-plus: 20px;
$height-figcaption: 60px;
$input-width: 240px;
$input-height: 40px;
$footer-height: 95px;
$figcaption-height: 40px;
$with-block-small-screen: 43%;